
Logs/AssetImportWorker0.log
Library/SourceAssetDB
Library/ShaderCache/builtin/unity_builtin_extra0000/00/f16d953afe4af49c974fef3a55d086df.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/cae20f630c152c37f10f35a06fa7a09c.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/c36eed1551f503517329baa0cbd6de9f.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/8789c089162f2114f800ea6646b66098.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/5a3a44721811085e2a52eaadb3ec6236.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/52e546d58adf587105fa70704182f3e0.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/3f9df96f9763e2849a85b7841c5eed77.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/1cd175dfa876f0ed0e29e30acaa047cf.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/0fd1c2a8e6ab798c325934c9e9210b05.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/05c97271350c255fe5e290add88989d6.bin
Library/Search/transactions.db
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/PackageManager/ProjectCache
Library/LastSceneManagerSetup.txt
Library/EditorInstance.json
Library/Bee/TundraBuildState.state.map
Library/Bee/fullprofile.json
Library/Bee/backend_profiler0.traceevents
Library/Bee/artifacts/mvdfrm/Unity.VSCode.Editor.ref.dll_3628369EB48E4C19.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualStudio.Editor.ref.dll_3A975DBA53ABA4AD.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.YamlDotNet.dll_D0D34363C501F5A4.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.TextureAssets.dll_67F16CB785CF539C.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.Shared.Editor.ref.dll_9669F6EBFF6DFFB7.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.SettingsProvider.Editor.ref.dll_A1A44354E0B583A8.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.IonicZip.dll_91FC18FB6F8D1E58.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.Antlr3.Runtime.dll_82406A44F5CB05C3.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Timeline.Editor.ref.dll_0D3D3C0B73557612.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.TextMeshPro.Editor.ref.dll_159E061D77A10B86.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.TestTools.CodeCoverage.Editor.ref.dll_F09CF4826CE11CD9.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Services.Core.Analytics.ref.dll_EDA1682A714EA6BF.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Rider.Editor.ref.dll_9B5591808ABA37AF.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Newtonsoft.Json.dll_AF6CED8C9248245C.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Antlr3.Runtime.dll_F75DF1B4FFF383C9.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Performance.Profile-Analyzer.Editor.ref.dll_65A192712782EB2B.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.EditorCoroutines.Editor.ref.dll_34ED10A34098B2DB.mvfrm
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.rsp
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll.mvfrm
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/1900b0aE.dag.json
Library/Artifacts/f0/f0229142fc72dda9bb444c7daa7b4431
Library/Artifacts/cb/cb92dea4ce0f4a43900de33838baae53
Library/Artifacts/c9/c9850647b16874c1da79898bc25b9b8e
Library/Artifacts/72/72250b91d71a5c46ff6b7867a04876e2
Library/Artifacts/42/42de158782ecd32440250f388881fa09
Library/ArtifactDB
Library/ArtifactDB
Library/Bee/1900b0aE.dag.json
Library/Bee/fullprofile.json
Library/LastSceneManagerSetup.txt
Library/PackageManager/ProjectCache
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-1fa42d450243a62428fecef6338127de
Temp/FSTimeGet-6b30a79621716dc4f9a7bb9fd4922983
Temp/FSTimeGet-80faa183c6bb05e409fa060065322051
Temp/PropertyDatabase_1265138678
Temp/PropertyDatabase_2066312223
Temp/UnityLockfile
Temp/workerlic
UserSettings/EditorUserSettings.asset
Library/ArtifactDB
Library/Bee/1900b0aE.dag.json
Library/Bee/fullprofile.json
Library/LastSceneManagerSetup.txt
Library/PackageManager/ProjectCache
Library/Search/transactions.db
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
UserSettings/EditorUserSettings.asset
Library/Artifacts/0e/0e9a671db7baa8cf067b0feb1961b69d
Library/Artifacts/14/146caa7f6588cd75a0fc3deec31c06bf
Library/Artifacts/22/224c86f747b516a22d38491d922e3a87
Library/Artifacts/35/35e819cede867ea9fd8555ede954e9eb
Library/Artifacts/49/49bf0f11ac8c9b2d4b7096f46a46b7a8
Library/Artifacts/54/54bff91102c0d5126c7050d2ba76b88b
Library/Artifacts/62/62a3221f40427ee2665fe91667bd38c4
Library/Artifacts/76/768f2f31ed535ca14f585c663820f80f
Library/Artifacts/82/82682cc0362b2726e333e38765fbc3f2
Library/Artifacts/98/9817a304ec59be52008a06b269590b9c
Library/Artifacts/a0/a0d82bd6a1f4658fecebca100dab2088
Library/Artifacts/ab/abc5e804d3b6604659ace11658ebf461
Library/Artifacts/b4/b41b1140c3c9026b9d1017b65d4328a7
Library/Artifacts/b8/b83981329c1b52e67167ed5885627b5e
Library/Artifacts/b9/b98b7e67f19187d57dd931cfface08d9
Library/Artifacts/c0/c02b794081e8d89d4c12264b2de83575
Library/Artifacts/c4/c4ba888a63b8924d95ce772693c19be4
Library/Artifacts/e6/e6723e23984cb35631dc753a9274bd53
Library/Artifacts/ea/eab48b61ba577d6911d2e3a31aa8b75d
Library/Artifacts/ec/ec8d2f84ac0b05ab98d4ace3b6276085
Library/Artifacts/ed/eddb3596666f757ad34b466d0931f1a7
Library/Artifacts/f0/f04559d7daf8c99e2ea4f82a3f271d61
Library/Artifacts/f5/f5a4eeec75a10c35d717585a17d9076a
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Antlr3.Runtime.dll_D7AA9033DCF0C881.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Newtonsoft.Json.dll_5F85262D632FD824.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.Antlr3.Runtime.dll_439029C4B001287B.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.IonicZip.dll_AB05A79437686220.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.TextureAssets.dll_29412C3740057654.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.YamlDotNet.dll_922302E37F38185C.mvfrm
Library/ShaderCache/builtin/unity_builtin_extra0000/00/1b69d7095dd5a96b7d1b5ecaf16e5015.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/554c03cda9ff0241744ccbb329182880.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/7e9d3bd6e5fe9ffbb61500891468374e.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/c4bb2484128ca5c8e3d877e60bbcb8b6.bin
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
UserSettings/Search.settings
